.hot-container{
    position: relative;

    & .hot{
        font-family: "Quicksand", sans-serif;
        z-index: 1;
        position: absolute;
        color: white;
        padding: 0.4rem;
        font-size: 1.2rem;
        background: red;
        border-radius: 5px;
        top: 1.8rem;
        right: 1.5rem;
        font-weight: 600;
    }
}