.hot-container{
    position: relative;

    & .hot{
        font-family: "Quicksand", sans-serif;
        z-index: 1;
        position: absolute;
        color: white;
        padding: 0.6rem;
        font-size: 1.2rem;
        background: red;
        border-radius: 5px;
        top: 1.8rem;
        right: 1.5rem;
        font-weight: 600;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    .hot-container{
        margin: 0rem 0 4rem 0;

        & .hot{
            top: 0;
            padding: 1rem;
        }
    } 
}