#posts{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--black);
    padding-top: 2rem;
}

#posts #content{
    margin-top: 6rem;
    min-width: 95%;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    min-height: 90svh;
}

#posts #search{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 85%;
    border-radius: 50px;
    align-self: center;
    background: rgb(50, 50, 50);
    height: 3rem;
    transition: ease-out 0.3s;

    &:hover{
        background: rgb(100,100, 100)
    }

    & input{
        position: absolute;
        width: 90%;
        left: 4rem;
        background: none;
        border: none;
        font-size: 2rem;
        color: white;

        &:focus{
            outline: none;
            border-bottom: 1px solid white;
        }
    }

    & img{
        width: 2rem;
        height: 2rem;
    }

    & button{
        position: absolute;
        left: 0.15rem;
        width: 2.7rem;
        height: 2.7rem;
        border: none;
        outline: none;
        border-radius: 50%;
        background: white;
        cursor: pointer;
        transition: 0.3s ease-out;

        &:hover{
            background: var(--action);
        }
    }
}

#posts #load{
    margin-bottom: 1.5rem;
    align-items: center;
    align-self: center;
    border: none;
    border-radius: 30px;
    background: var(--button-blue);
    width: 8rem;
    height: 3rem;
    cursor: pointer;
    font-weight: 900;
    font-size: 1rem;

    &:hover{
        background: var(--button-action);
    }
}

#posts .loading{
    width: 5rem;
    height: 5rem;
}

@media screen and (max-aspect-ratio: 1/1) {
    #posts #content{
        margin-top: 4rem;
        align-self: center;
        justify-content: center;
        width: 85%;
        flex-direction: column;
    }

    #posts #search{
        height: 4.5rem;

        & input{
            width: 60%;
            left: 25%;
            font-size: 2rem;
        }

        & img{
            width: 2.5rem;
            height: 2.5rem;
        }

        & button{
            width: 4rem;
            height: 4rem;
            right: 1rem;
        }
    }
}