#post{
    display: flex;
    position: relative;
    flex-direction: column;
    background: var(--black);
    color: var(--white);
    margin: 0;
    padding-top: 1.5rem;
    margin-top: 2rem;
    width: 60%;
    min-height: 90svh;
    left: 50%;
    transform: translate(-50%, 0%);
}

#post .loading{
    height: 5rem;
    width: 5rem;
}

#post p{
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
}

#post h1{
    width: 50%;
    font-size: 2.2rem;
}

#post #main{
    display: flex;
    flex-direction: row;

    & img{
        width: 50%;
        vertical-align: middle;
        transition: 1s ease-out;
        border-radius: 5px;
        margin-right: 2rem

        /* &:hover{
            scale: 1.07;
        } */
    };
}

#post .wrapper{
    width: 70rem;
    overflow: hidden;
    margin-right: 3rem;
}

@media screen and (max-aspect-ratio: 1/1) {
    #post{
        width: 90%;
        align-self: center;

        & h1{
            font-size: 1.5rem;
            width: 100%;
        }

        & p{
            font-size: 1rem;
        }
    }

    #post #main{
        flex-direction: column;
        
        & img{
            width: 100%;
            margin: 0;
        }
    }
}