header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    justify-content: space-between;
    height: 10svh;
    width: 100%;
    background: black;
}

header h1{
    color: white;
    text-align: center;
    align-self: center;
    margin: 0;
    margin-left: 2rem;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    flex-grow: 1;
    margin-left: 10%;


    & p{
        margin: 0;
    }
}

header a{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    margin: 0;
    transition: 0.5s;
}

header .nav-link:hover{
    color: var(--action);
}

#cart{
    margin-right: 3rem;
    align-self: center;
    border: 0;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;

    & img{
        height: 3rem;
        transition: 0.5s;
        filter: blur(0.5px);
    }

    & img:hover{
        transform: scale(1.1);
    }
}