.new-container{
    position: relative;

    & .new{
        font-family: "Quicksand", sans-serif;
        z-index: 1;
        position: absolute;
        color: white;
        padding: 0.4rem;
        font-size: 0.6rem;
        background: var(--action);
        border-radius: 5px;
        top: 1.8rem;
        right: 1.5rem;
        font-weight: 600;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    .new-container{
        margin: 4rem 0 4rem 0;

        & .new{
            font-size: 5rem;
            padding: 1rem;
        }
    }
}

    